@layer components {
  .heading-xl-bold {
    @apply text-[38px] font-bold leading-[44px];
    @apply xl:text-7xl xl:leading-[78px];
    letter-spacing: -0.53px;

    @media screen and (min-width: 768px) {
      letter-spacing: -0.78px;
    }

    @media (min-width: 1280px) {
      letter-spacing: -1px;
    }
  }

  .heading-xl-regular {
    @apply text-[38px] font-normal leading-[44px];
    @apply xl:text-7xl xl:leading-[78px];
    letter-spacing: -0.53px;

    @media screen and (min-width: 768px) {
      letter-spacing: -0.78px;
    }

    @media (min-width: 1280px) {
      letter-spacing: -1px;
    }
  }

  .heading-l-bold {
    @apply text-5xl font-bold leading-[56px];
    letter-spacing: -0.5px;
  }

  .heading-l-regular {
    @apply text-5xl font-normal leading-[56px];
    letter-spacing: -0.5px;
  }

  .heading-m {
    @apply text-lg font-bold leading-[32px];
    letter-spacing: -0.18px;
  }

  .heading-s {
    @apply text-base leading-[26px];
    letter-spacing: -2.5px;
  }

  .quote {
    @apply text-xl font-normal leading-[35px];
    letter-spacing: 0;
  }

  .paragraph {
    @apply text-base md:text-lg;
    letter-spacing: 0.09px;
  }
}
